body {
    background-color: black;
}

.header {
    position: relative;
    text-align: center;
}

.header-img {
    width: 100vw;
    height: 80vh;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    font-family: 'Cinzel', serif;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 3rem;
    }
}